body{
    text-align:center;
    background-image: url("https://i.redd.it/3t88melm5eb01.jpg");
}

.two{
 color:white;   
}


#pewds{
 width:300px;   
}

#firstbutton{
width:100px;   
}

#memereview{
   width:300px ; 
}

.one{
    color:red;
}


